<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Most of the code in the Qalingo project is copyrighted Hoteia and licensed
    under the Apache License Version 2.0 (release version 0.7.0)
            http://www.apache.org/licenses/LICENSE-2.0

                      Copyright (c) Hoteia, 2012-2013
    http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com


-->
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type
		 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>[qalingo-webapp-app-erp-sync] %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

    <logger name="fr.hoteia.qalingo" level="error">
        <appender-ref ref="STDOUT" />
    </logger>

	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>